body {
    background-color: #121212;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.room-name-container {
    text-align: center;
    padding: 20px 0;
    background-color: #713b2756;
    color: #fff;
}

.room-name {
    font-size: 24px;
    font-weight: bold;
}

.back-button-container {
    padding: 10px;
    text-align: center;
}

.back-button {
    background-color: #333;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
}

.main-info-container,
.detail-info-container {
    padding: 20px;
}

.block-container {
    margin-bottom: 20px;
    border: 1px solid #444;
    border-radius: 10px;
    padding: 15px;
    background-color: #1e1e1e;
}

.title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1px solid #444;
    padding-bottom: 5px;
}

.info {
    font-size: 16px;
}
