/* Styles for mobile view */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #f2f2f2;
}

.biome-name-container {
    text-align: center;
    padding: 20px 0;
    background-color: #713b2756;
    color: #fff;
}

.biome-name {
    font-size: 24px;
    font-weight: bold;
}

.room-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.room-button {
    background-color: #333;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
    padding: 15px 20px;
    margin: 10px;
    font-size: 18px;
    width: 45%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.room-button:hover {
    background-color: #ff4500;
    transform: scale(1.05);
}

.room-button:active {
    background-color: #cc3700;
}

@media (max-width: 600px) {
    .room-button {
        width: 90%;
    }
}

.biome-button {
    background-color: #7d3a218d;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
    padding: 15px 20px;
    margin: 10px;
    font-size: 18px;
    width: calc(50% - 0px);
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.biome-button:hover {
    background-color: #71392565;
    transform: scale(1.02);
}

.biome-button:active {
    background-color: #a72d00;
}

@media (max-width: 600px) {
    .biome-button {
        width: calc(100% - 20px);
    }
}
